.question {
	background: #fefefe;
	border-radius: 8px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
	padding: 24px;

	& + .question {
		margin-top: 8px;
	}

	p {
		color: var(--gray-color);
		// word-break: break-all;
		word-wrap: break-word;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 24px;

		.user-info {
			display: flex;
			align-items: center;
			gap: 14px;

			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
			}

			span {
				color: var(--p-color);
				font-size: 14px;
			}
		}

		> div {
			display: flex;
			gap: 16px;
		}

		button {
			border: 0;
			background: transparent;
			cursor: pointer;

			svg path {
				transition: stroke ease-in-out 0.2s;
			}

			&.like-button {
				display: flex;
				align-items: flex-end;
				color: var(--p-color);
				gap: 8px;

				&.liked {
					color: var(--main-purple);

					svg path {
						stroke: var(--main-purple);
					}
				}
			}

			&:hover {
				svg path {
					stroke: var(--main-purple);
				}
			}

			&.delete:hover {
				svg path {
					stroke: var(--red-danger);
				}
			}
		}
	}
}
