.room-code {
	height: 40px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	background: #fff;
	border: 1px solid var(--main-purple);
	cursor: pointer;

	div.copy {
		background: var(--main-purple);
		padding: 0 12px;
		display: flex;
		justify-content: center;
		align-content: center;
		height: 100%;
		transition: filter ease-in-out 0.2s;

		&:hover {
			filter: brightness(0.9);
		}
	}

	span {
		display: block;
		align-self: center;
		flex: 1;
		padding: 0 16px 0 12px;
		width: 240px;
		font-size: 14px;
		font-weight: 500;
	}
}
